
<%include partial/header.ejs %>
<h1><%title%></h1>

<table class="table table-striped">
    <tr>
        <th>Name</th>
        <th>PostalCode</th>
        <th>Phone Number</th>

        <th>Government/Private</th>
        <th>Regions</th>
        <th>Province</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <%for (var i=0;i<regions.length;i++) { %>
    <tr>

        <td><%= regions[i].Name%></td>
        <td><%= regions[i].PostalCode%></td>
        <td><%= regions[i].PhoneNumber%></td>

        <td><%= regions[i].Government_Private%></td>
        <td><%= regions[i].region%></td>
        <td><%= regions[i].province%></td>
        <td><a href="/regions/delete/<%= regions[i]._id %>" class="confirmation">Delete</a></td>
        <td><a href="/regions/add/<%= regions[i]._id %>">Edit</a></td>
    </tr>
         <%}%>
</table>
<a href="/regions/add" class="btn btn-info" >Add a Region</a>
    <%include partial/footer.ejs %>













